body {
  background: lightgreen;
  color: black;
}
h1 {
  font-size: 55px;
  text-align: center;
  background-color: rgb(32, 196, 32);
  border-radius: 10%;
}

p {
  font-size: 30px;
  text-align: center;
  font-family: serif;
}

hr {
  resize: inherit
}

li {
  font-size: 26px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

  
